.categories{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: c;
    overflow-y: hidden;
}

.categories video{
width: 100%;
height: auto;
object-fit: cover;
}